@font-face {
    font-family: Minecraft;
    src: url("../assets/Minecraft.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: black;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Minecraft';
    font-size: 2vw;
}
h1 {
    color: white;
}

p {
    color: white;
}

.MainPage {
    display: flex;
    justify-content: center;
    align-items: center;
}