@media (max-width: 1440px){
  .MainPage {
      max-width: fit-content;
      margin-inline: auto;
      font-size: 2vw;
      text-allign: center;
  }
}

@media (max-width: 600px) {

  .MainPage {
      max-width: none;
      margin-inline: auto;
      font-size: 3.2vw;
      text-wrap-style: pretty;
  }

  h2 {
    font-size: 3.8vw;
  }
}

@font-face {
    font-family: Minecraft;
    src: url("../assets/Minecraft.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: black;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto auto;

    font-family: 'Minecraft';
    // font-size: 1.5vw;
    text-shadow: 3px 2px 5px black;
}

a {
    color: lime;
}

h1 {
    font-size: 4vw;
}

h1, h2, p {
    color: white;
    max-width: fit-content;
    margin-inline: auto;
}

