@media (max-width: 1000000px) {

    body {
        background-color: black;
        background-image: url('../assets/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        font-family: 'Minecraft';
    // font-size: 1.5vw;
        text-shadow: 3px 2px 5px black;
    }

    a {
        color: lime;
    }

    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 2vw;
    }
    p {
        font-size: 1.3vw;
    }

    h1, h2, p {
        color: white;
        max-width: fit-content;
        margin-inline: auto;
    }
}

@media (max-width: 767px) {

  .MainPage {
      max-width: none;
      margin-inline: auto;
      font-size: 3.2vw;
      text-wrap-style: pretty;
  }
    body {
        background-color: black;
        background-image: url('../assets/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        font-family: 'Minecraft';
        font-size: 1.5vw;
        text-shadow: 3px 2px 5px black;
    }

    a {
        color: lime;
    }

    h1, h2 {
        font-size: 3.5vw;
    }
    p {
        font-size: 3vw;
    }

    h1, h2, p {
        color: white;
        max-width: fit-content;
        margin-inline: auto;
    }
}

@font-face {
    font-family: Minecraft;
    src: url("../assets/Minecraft.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}